{% extends "base.html" %}

{% block body %}

<div id="fb-root"></div>

<script>
    function setToken(userId, expiresIn, accessToken) {
      var form = document.createElement("form");
      form.setAttribute("method", "post");

      //var url = "{{ BASE_URL }}{% url token %}";
      //form.setAttribute("action", url);

      //var 
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '{{ FACEBOOK_APP_ID }}', // App ID
            channelUrl : '{{ BASE_URL }}{% url channel %}', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
        });

        // do login
        FB.login(function(response) {
          if (response.authResponse) {
            console.log('Successful login.');
            console.log(response.authResponse);
            accessToken = response.authResponse['accessToken'];
            expiresIn = response.authResponse['expiresIn'];
            userId = response.authResponse['userId'];

            console.log(accessToken);
            setToken(userId, expiresIn, accessToken);

          } else {
            console.log('Login failure.');
          }
        });
    };

    // Load the SDK Asynchronously
    (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
     }(document));
</script>

Loading FB login stuff....

{% endblock %}
